@font-face {
  font-family: "JosefinSans-VariableFont_wght";
  src: url("../fonts/JosefinSans-VariableFont_wght.ttf");
  font-weight: normal;
  font-size: 20px;
}
body {
  overflow-x: hidden;
}
.body-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-home {
  background-color: rgb(215, 227, 230);
  top: 0;
  height: 500px;
  width: 100vw;
  background-image: url("../images/bg-home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  background-blend-mode: multiply;
  margin: auto;
}
.text-service {
  top: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  margin: auto;
}
.bg-cards-destination {
  background-color: #f4f4f4;
  height: 88vh;
  width: 100vw;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.title-service {
  margin-top: 1rem ;
  font-family: "JosefinSans-VariableFont_wght";
}
.title-destination {
  color: #9c2b37 ;
  margin: 3rem 0 1rem 0;
  font-size: 2.5rem;
  font-family: "JosefinSans-VariableFont_wght";
  font-weight: 800;
}
@media only screen and (max-width) {
}
