

/*Nav Bar*/
$navbar-padding-y: 0.2rem ;
$navbar-padding-x:2rem;
/*Nav Link*/
$navbar-light-color: #d81d27;
$navbar-light-active-color: #d81d27;
$nav-link-font-weight:600;
$nav-link-font-size:18px;


/*Nav logo*/





@import 'bootstrap/scss/bootstrap.scss';