.bg-register {
  display: flex;
  flex-direction: row-reverse;
  background-color: #22447d;
  max-width: 1000px;
  width: 100%;
  height: 75vh;
  margin: 0 auto;
  transform: translateY(10%);
}
.header-register{

    justify-content: center!important;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.pwd-style {
  border-radius: 5px;
}
.or-hr {
  text-align: center;
  color: #333;
  overflow: visible;
  margin-top: 30px;
  width: 80%;
}
.or-hr::after {
  content: "or";
  font-size: 15px;
  background-color: white;
  position: relative;
  top: -14px;
  padding: 5px 8px;
}

.btn-submit{
  transform: translateX(25%);
}
@media screen and (max-width:406px){
  .title-sign-up h2{
    font-size: 18px;
  }
  .title-sign-up P{
    font-size: 15px;
  }
}